<div class="options-container">
	<h2>Opções</h2>

	<!-- Mudança de senha -->
	<div class="password-change">
		<h3>Mudar Senha</h3>
		<div class="form-group">
			<label for="new-password">Nova Senha:</label>
			<input type="password" id="new-password" class="form-control" [(ngModel)]="newPassword" />
		</div>
		<div class="form-group">
			<label for="confirm-password">Confirmar Nova Senha:</label>
			<input type="password" id="confirm-password" class="form-control" [(ngModel)]="confirmPassword" />
		</div>
		<button class="back-button" (click)="back()">Voltar</button>
		<button class="change-password-button" (click)="changePassword()">Mudar Senha</button>
	</div>
</div>
