<div class="home-container">
	<div class="profile-card" *ngFor="let profile of profiles">
		<div class="carousel">
			<!-- Aqui adicionar um carrossel de imagens para o perfil -->
			<!-- cada perfil tem até 5 imagens -->
		</div>
		<p class="description">{{ profile.description }}</p>
		<div class="interaction-buttons">
			<button class="heart-button" (click)="likeProfile(profile)">❤️</button>
			<button class="x-button" (click)="rejectProfile(profile)">❌</button>
		</div>
	</div>
	<button class="profile-button" (click)="goToProfile()">Meu Perfil</button>
	<button class="settings-button" (click)="goToSettings()">Configurações</button>
</div>
