.signup-container {
	background-color: #f7d08a; /* Laranja suave */
	color: #9b59b6; /* Roxo suave */
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

h2 {
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 10px;
}

.form-control {
	width: 100%;
	padding: 8px;
	border: 1px solid #9b59b6; /* Roxo suave */
	border-radius: 5px;
}

.signup-button {
	background-color: #f7d08a; /* Laranja suave */
	color: #9b59b6; /* Roxo suave */
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

.signup-button:hover {
	background-color: #9b59b6; /* Roxo suave */
	color: #f7d08a; /* Laranja suave */
}
